<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <p>Hi <%= @passenger.name.capitalize %></p>
  <p>You have a flight <%= @flight.info %>  </p>
  <p>Please remember to checkout out on time</p>
</body>
</html>
