/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require normalize-rails
 *= require_tree .
 *= require_self
 */

:root {
  --clr-dark-blue: #1F2937;
  --clr-main-text: #f9faf8;
  --clr-second-text: #E5E7EB;
  --clr-blue: #3882F6;
}

.flex-col-cont {
  display: flex;
  flex-direction: column;
}

.flex-container {
  display: flex;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  cursor: pointer;
}

input[type="radio"] {
  appearance: none;
}

input[type="radio"] {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 2px solid gray;
  vertical-align: -2px;
  outline: none;
}

input[type="radio"]::before {
  display: block;
  content: " ";
  width: 10px;
  height: 10px;
  border-radius: 6px;
  background-color: red;
  font-size: 1.2em;
  transform: scale(0);
  transform-origin: center;
  transition: all 0.3s ease-in;
}

input[type="radio"]:checked::before {
  transform: scale(1);
  transition: all 0.3s cubic-bezier(0.25, 0.25, 0.56, 2);
}


*,
*::before,
*::after {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

body {
  font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3 {
  font-weight: 800;
  font-family: Figtree, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 3rem;
}

.button {
  background-color: var(--clr-blue);
  color: var(--clr-main-text);
  outline: none;
  border-width: 0px;
  border-radius: 0.25rem;
}

.button:hover,
.button:focus {
  background-color: var(--clr-main-text);
  color: var(--clr-dark-blue);
}

.primary-btn {
  padding: 0.5rem 1.25rem;
  font-weight: 800;
}
