@font-face {
  font-family: "Norse Bold";
  src: url("Norse-Bold.otf");
}

@font-face {
  font-family: "Remachine Script";
  src: url("RemachineScript_Personal_Use.ttf") format('truetype');
}

@font-face {
  font-family: "Inter";
  src: url("inter-variablefont_slntwght-webfont.woff") format("woff"),
    url("inter-variablefont_slntwght-webfont.woff") format(("woff2"));
}
